/* COLORS */
$color-primary: #007bff;
$color-secondary: #f50057;
$color-success: #4caf50;
$color-error: #f44336;
$color-default: #201E19;
$color-action: #727272;
$color-white: #ffffff;
$color-grey: #EBEBEB;